@use '_variables.scss';

@mixin center-divs {
    width: 75%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/Mountains.jpg");
    background-size: cover;
    background-position: 0 70%;
    color: variables.$header-info-color;
    img {
        border-radius: 50%;
        padding: 20px 0;
    }
}

.title {
    h1 {
        font-size: 60px;
        font-weight: 900;
    }
    h3 {
        font-size: 25px;
        font-weight: 100;
    }
}

.main-container {
    height: 100%;
    display: flex;
    h2 {
        color: variables.$primary-color;
        letter-spacing: 3px;
        margin-bottom: variables.$content-spacing;
    }
    h6 {
        margin-bottom: variables.$list-spacing;
    }
    hr {
        width: 15%;
        margin-right: auto;
        margin-bottom: variables.$content-spacing;
        border: 2px solid variables.$primary-color;
    }
    li, h4 {
        margin-bottom: variables.$list-spacing;
    }
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-box {
    flex: 1;
}

.contact-info {
    margin: 20px 0;
    @extend .title;
}

.experience-box {
    flex: 1.5;
    background-color: #EFEFEF;
}

.content {
    @include center-divs;
}